version: 2
updates:
  # python
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
  # github actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
